<!DOCTYPE html>
<html>
<head>
  <title>Kracken</title>
  <%= stylesheet_link_tag    "kracken/application", media: "all" %>
  <%= javascript_include_tag "kracken/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
